{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Connexion - LITRevu</title> 
    <link rel ="stylesheet" href="% static 'global.css' %">
    <link rel="stylesheet" href="{% static 'LITRevu/css/main.css' %}">
</head>
<body>
    <h1>Bienvenue sur LITRevu</h1>
    <p>{{ message }}</p>
    <h2>Contenu d'un autre fichier</h2>
    {% include "./other.html" %}
    <p>Rendez vous sur <a href="{% url 'indexofLITRevu' %}">LITRevu</a> </p>
    <div class="container">
        <h1>Connexion</h1>
        <form action="http://8000/LITRevu/login/" method="post">
            {% csrf_token %}
            <label for="username">Nom d'utilisateur:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Mot de passe:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Connexion">
        </form>
    </div>
</body>
</html>